* {
    margin: 0;
}

body {
    font-family: 'Raleway';
    margin: 0 !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#exscientiaHeader {
    display: table;
    margin-left: 5%;
    padding-top: 5%;
}

#exscientiaTitle, #exscientiaLogo {
    vertical-align: middle;
    display: table-cell;
}

#exscientiaLogo img {
    height: 65px !important;
}

#exscientiaTitle {
    color: #000;
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: bolder;
    padding-left: 10px;
}

.colorRed {
    color: #E85A24 !important;
}

#pageDescription {
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.pageBackground {
    background-color: rgba(232,90,36, 0.5);
    padding-bottom: 25px;
    padding-top: 25px;
}

.container {
    margin-left: 10% !important;
    margin-right: 10% !important;
    background-color: white;
    border-radius: 5px;
}

.chartWrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.selectedCompoundTable {
    /* width: 1000px; */
    margin-left: auto;
    margin-right: auto;
}

.tableLabel {
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}

.unclicked {
    display: none;
}

#initiallyVisible table {
    margin-left: auto;
    margin-right: auto;
}

#initiallyVisible td {
    font-size: 30px;
    height: 200px;
}

.compoundClass {
    margin-left: auto;
    margin-right: auto;
}

.compoundClass td, th {
    padding-top: 10px;
    padding-bottom: 10px;
}

#compoundTb td {
    text-align: center;
}

.masterDetailTable {
    /* padding-top: 10px; */
    /* padding-bottom: 50px; */
    margin-left: auto;
    margin-right: auto;
}

.masterDetailTable th, .masterDetailTable td {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  .left {
    width: 60%;
  }
  
  .right {
    width: 20%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .invisible {
      display: none;
  }

.dt-specialColor{
    background-color: unset !important;
}

table.dataTable tbody tr:hover {
    background-color:transparent !important;
}

.dataTables_filter {
    margin-right: 2.5%;
    padding-bottom: 25px;
}

.dataTables_length {
    margin-left: 2.5%;
    padding-bottom: 26px;
}

.dataTables_info {
    margin-left: 2.5%;
    padding-top: 35px !important;
    padding-bottom: 25px !important;
}

.dataTables_paginate {
    margin-right: 2.5%;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

#moreInfBut {
    display:inline-block;
    padding:0.4em 2em;
    border:0.16em solid#E85A24;
    border-radius: 1em;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 11pt;
    font-family:'Raleway',sans-serif;
    font-weight:500;
    color:#E85A24;
    text-align:center;
    transition: all 0.15s;
    cursor: pointer;
    outline: none;
}

#moreInfBut:hover{
    color:white;
    background-color: #E85A24;
    border-color:#E85A24;
}
#moreInfBut:active{
    color:white;
    background-color: #E85A24;
    border-color:#E85A24;
}